@{
    ViewBag.Title = "About HANAS testing the commit";



    // daba let's test that shit 3lach brkti 3la entrer u_u huhuhuhu hhhhhhh
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
